{% extends 'employees/base.html' %}

<!-- STYLE -->
{% block style %}
<style>
    .cards {
        display: flex;
        direction: row;
        width: 300px;
        height: 120px;
        border: 1px solid black;
        border-radius: 5px;
        background-color: lightgrey;
        padding-top: 15px;
        padding-left: 15px;
        margin-left: 20px;
        margin-top: 20px;
        font-size: 23px;
    }
</style>
{% endblock %}

<!-- CONTENT -->
{% block content %}

<div class="container-fluid row">
    {% for class in classes %}
    <a href="">
        <div class="cards">
            <div>
                <p>{{class.name}} {{class.section}}</p>
            </div>

            <div>
                <p>100</p>
            </div>
        </div>
    </a>

    {% endfor %}



</div>

{% endblock %}


<!-- SCRIPT -->
{% block script %}

{% endblock %}