{% extends 'employees/base.html' %}
{% load custom_filters %}
<!-- STYLE -->
{% block style %}
<style>
    .cards-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        grid-gap: 7px;
        margin-top: 20px;
    }

    .card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 300px;
        height: 150px;
        border: 1px solid #ddd;
        border-radius: 10px;
        background-color: #fff;
        padding: 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        transition: transform 0.2s, box-shadow 0.2s;
        text-decoration: none;
        color: inherit;
    }

    .card:hover {
        transform: translateY(-5px);
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    }

    .card p {
        margin: 0;
        font-size: 27px;
        font-weight: bold;
    }

    .card .values {
        font-size: 30px;
        font-weight: bold;
        color: #007bff;
        text-align: right;
    }

    .card.employees {
        background-color: #f8f9fa;

    }

    .card.employees:hover {
        background-color: #e9ecef;
    }
</style>
{% endblock %}

<!-- CONTENT -->
{% block content %}

<div class="container-fluid">

    <div class="cards-container">

        {% for class in classes %}
        <a href="#" class="card employees">
            <div class="titles">
                <p>{{class.name}} {{class.section}}</p>
            </div>
            <div class="values">100</div>
        </a>
        {% endfor %}

        {% if user.role == 'Super Admin' %}
        {% for role in roles %}
        <a href="{% url 'employees' %}" class="card employees">
            <div>
                <p class="titles">{{role.name}}</p>
            </div>
            <div class="values">{{ role_counts|get_item:role.name }}</div>
        </a>
        {% endfor %}
        <a href="{% url 'employees' %}" class="card employees">
            <div>
                <p>Total Students</p>
            </div>
            <div class="values">429</div>
        </a>
        <a href="{% url 'classes' %}" class="card employees">
            <div>
                <p>Total Classes</p>
            </div>
            <div class="values">{{total_classes}}</div>
        </a>
        {% endif %}
        {% if user.role == 'Teacher' %}

        <a href="{% url 'students' %}" class="card employees">
            <div>
                <p>Assigned Students</p>
            </div>
            <div class="values">76</div>
        </a>

        {% endif %}
    </div>
</div>

{% endblock %}

<!-- SCRIPT -->
{% block script %}
{% endblock %}