{% extends 'employees/base/base.html' %}l' %}

{% block content %}
<div class="container mt-5">
    <div class="card shadow-lg p-4">
        <div class="d-flex justify-content-between align-items-center mb-4">
            <h2 class="mb-0">Edit Profile {{id}}</h2>
            <div>
                <a class="btn btn-success btn-sm" href="{% url 'credentials' id %}">
                    <i class="fas fa-key"></i> Email Password
                </a>

                <a class="btn btn-danger btn-sm" href="{% url 'credentials' id %}">
                    <i class="fas fa-key"></i> Credentials
                </a>
            </div>
        </div>
        <hr>

        <form method="post" class="needs-validation" novalidate>
            {% csrf_token %}
            <div class="form-group">
            
                <table class="table">
                    {{ form.as_table }}
                </table>
            </div>
            <div class="d-flex justify-content-end">
                <button type="submit" class="btn btn-success me-2">Save Changes</button>
                {% if personal %}
                <a href="{% url 'profile' %}" class="btn btn-secondary">Cancel</a>
                {% else %}
                <a href="{% url 'employees' %}" class="btn btn-secondary">Cancel</a>
                {% endif %}
            </div>
        </form>
    </div>
</div>

<script>
// Example starter JavaScript for disabling form submissions if there are invalid fields
(function () {
  'use strict'

  // Fetch all the forms we want to apply custom Bootstrap validation styles to
  var forms = document.querySelectorAll('.needs-validation')

  // Loop over them and prevent submission
  Array.prototype.slice.call(forms)
    .forEach(function (form) {
      form.addEventListener('submit', function (event) {
        if (!form.checkValidity()) {
          event.preventDefault()
          event.stopPropagation()
        }

        form.classList.add('was-validated')
      }, false)
    })
})()
</script>

{% endblock %}